# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Documentation
*.md
!README.md

# Git
.git/
.gitignore

# Development files
*.log
